<app-subnav-container>
  <app-subnav-search></app-subnav-search>

  <app-subnav-pinned>
    <ul>
      <li href=""><a href="/client/1">client sub item 1</a></li>
      <li href=""><a href="/client/1">client sub item 2</a></li>
      <li href=""><a href="/client/1">client sub item 3</a></li>
    </ul>
  </app-subnav-pinned>

  <app-subnav-content>
    <h1>hello</h1>
    <nav mat-tab-nav-bar backgroundColor="primary" color="warn">
      <a
        mat-tab-link
        href="#"
        (click)="activeLink = 'A'"
        [active]="activeLink == 'A'"
      >
        Tab A
      </a>
      <a
        mat-tab-link
        href="#"
        (click)="activeLink = 'B'"
        [active]="activeLink == 'B'"
      >
        Tab B
      </a>
      <a
        mat-tab-link
        href="#"
        (click)="activeLink = 'C'"
        [active]="activeLink == 'C'"
      >
        Tab C
      </a>
      <a mat-tab-link disabled>Disabled Tab</a>
    </nav>
    <!-- <mat-tab-group mat-align-tabs="start" [disablePagination]="false">
      <mat-tab label="First">Content 1</mat-tab>
      <mat-tab label="Second">Content 2</mat-tab>
      <mat-tab label="Third">Content 3</mat-tab>
      <mat-tab label="First1">Content 1</mat-tab>
      <mat-tab label="Second1">Content 2</mat-tab>
      <mat-tab label="Third1">Content 3</mat-tab>
      <mat-tab label="First2">Content 1</mat-tab>
      <mat-tab label="Second2">Content 2</mat-tab>
      <mat-tab label="Third2">Content 3</mat-tab>
    </mat-tab-group> -->
  </app-subnav-content>
</app-subnav-container>
